h1 {
    text-align: center;
    color: rgb(58, 39, 6);
    background-color: rgb(161, 218, 240);
    padding: 10px;
}

.background-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: bisque;
    border: 2px solid aqua;
    height: 90vh;
}

.background-item {
    border: 2px solid rgb(50, 36, 9);
}



#capibara {
    /* transform: scaleX(-1); */
    z-index: 1;
    height: 10rem;
    width: 10rem;
}

.turnRight {
    transform: scaleX(-1);
}


.highlighted {
    border: 5px solid salmon;
}


/* .background-container>.background-item:nth-child(1) {
    border: 5px solid salmon;
} */